    <section id="about-us" class="container">
        <div class="row">
            <div class="col">
              <div class="bg-dark text-secondary px-2 py-5 text-center">
                <div class="py-5">
                  <h1 class="display-5 fw-bold text-white">Radio T&eacute;l&eacute; Patriarche</h1>
                  <div class="col-lg-8 mx-auto">
                    <p class="fs-5 mb-4">
                    
                    Incididunt duis excepteur non id irure et. Do adipisicing laboris elit ipsum. Dolore mollit minim adipisicing nulla quis quis. Excepteur eiusmod non deserunt laborum anim mollit velit. Deserunt fugiat occaecat ullamco incididunt.
                    </p>
                            <p class="fs-5 mb-4">
                    
                    Incididunt duis excepteur non id irure et. Do adipisicing laboris elit ipsum. Dolore mollit minim adipisicing nulla quis quis. Excepteur eiusmod non deserunt laborum anim mollit velit. Deserunt fugiat occaecat ullamco incididunt.
                    </p>
                            <p class="fs-5 mb-4">
                    
                    Incididunt duis excepteur non id irure et. Do adipisicing laboris elit ipsum. Dolore mollit minim adipisicing nulla quis quis. Excepteur eiusmod non deserunt laborum anim mollit velit. Deserunt fugiat occaecat ullamco incididunt.
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                      <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Contactez-nous</button>
                      <button type="button" class="btn btn-outline-light btn-lg px-4">Nos emissions</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="gap"></div>
          <div class="b-example-divider"></div>
        <div class="row">
        <div class="col">
         <section class="mt-4">
              <article class="text-secondary">
                <h2 class="display-6 fw-bold ">Nos valeurs</h2>

                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
              
              </article>
                
                        <div class="gap"></div>
          <div class="b-example-divider"></div>
                <article class="text-secondary">
                <h2 class="display-6 fw-bold ">Notre mission</h2>
            
                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
                                                <p>
                Enim anim proident reprehenderit dolore aute commodo. Duis nulla voluptate nisi dolor duis laborum proident officia deserunt ut anim nostrud cupidatat ea. Id est id adipisicing laboris officia irure reprehenderit esse ex et quis. Aliquip anim aute nisi ut nisi enim esse minim in et ullamco. Ex nostrud id consectetur nulla aute culpa dolore tempor do amet nostrud cillum fugiat do.
                </p>
              
              </article>
            </section>
        </div>
        </div>

        <div class="gap"></div>
          <div class="b-example-divider"></div>
        <h1 class="center">L'Equipe</h1>
        <p class="lead center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p>

                    <%= image_tag("team-member-female.jpg", class: "img-responsive img-thumbnail img-circle presentateur", alt: "team member name" )%>
                    
                    </p>
                    <h5>Mamzelle Chantoutou
                    <br>
                    <small class="designation muted">Senior Vice President</small></h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p>
                    <%= image_tag("team-member.jpg", class: "img-responsive img-thumbnail img-circle presentateur", alt: "team member name" )%>
                    </p>
                    <h5>Albert Buron
                    <br>
                    <small class="designation muted">Senior Vice President
                    <br>
                    </small></h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                <p>
                    <%= image_tag("team-member.jpg", class: "img-responsive img-thumbnail img-circle presentateur", alt: "team member name" )%>
                    </p>
                    <h5>Jean Letiaque
                    <br>
                    <small class="designation muted">Senior Vice President</small></h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p>

                      <%= image_tag("team-member-female.jpg", class: "img-responsive img-thumbnail img-circle presentateur", alt: "team member name" )%>
                    </p>
                    <h5>Mamzelle Anayiz
                    <br>
                    <small class="designation muted">Senior Vice President</small>
                    </h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
        </div>
    </section>