<div class="container">
<div class="row">
<div class="col border border-danger p-0">

<div class="bg-image" 
     style="background-image: url('<%= asset_path "haiti.jpg" %>');
            height: 100vh; background-repeat: no-repeat;    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ; width:100% ">
<section id="home">
<%= image_tag("logo", class: "image-fluid", size: "200*150") %>
<%= render "shared/social"%>
</section>

</div>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>
</div>
