<div class="container">
<div class="row">
<div class="col">
<section id="home">

<%= image_tag("logo", class: "image-fluid", size: "200*150") %>
<%= render "shared/social"%>
</section>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>



<div class="row">
<div class="col">
<section>


</section>
<div>
</div>
</div>
